.review-ticker {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
}

.review-ticker .track {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;

}
.review-ticker .track:hover{
    animation-play-state: paused;
}

.card {
  width: 400px;
  flex-shrink: 0;
  background-color: var(--color-accent);
  padding: 1rem;
  
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
              0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
              0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
